# === FICHIERS COMPILÉS ===
/bin
*.class

# === FICHIERS SYSTÈME ===
*.log
.DS_Store

# === FICHIERS VS CODE ===
.vscode/*.code-workspace

# === FICHIERS SENSIBLES (OPTIONNEL) ===
*.db

# === DOSSIER LIB (EX: javafx-sdk) ===
lib/
